html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #ffffff;
  background-color: rgb(238, 122, 14);
  font-size: 24px;
  height: 60px;

  padding-top: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;

  position: fixed;
  width: 100%;
  top: 0;

  
}

nav span {

  color: purple;
  font-family: bungee;
  
}

nav button {

  color: purple;
  font-family: bungee;
  font-size: 18px;

}