
.tweet-input{
  
  display: flex;
  justify-content: center;
  

}

.button-and-counter{
  display: flex;
  justify-content: space-between;
  font-family: bungee;

}

.exceedsLimit {
  color: red;

}


.submit-tweet {

  background-color: #41005f; /* Green */
  color: white
}