
.tweet-input{
  
  display: flex;
  justify-content: center;
  

}

.button-and-counter{
  display: flex;
  justify-content: space-between;
  font-family: bungee;

}

.exceedsLimit {
  color: red;

}


.submit-tweet {

  background-color: #41005f; /* Green */
  color: white
}

#error{
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}