.tweet-container {

  flex-direction: column-reverse;
  display: flex;
  justify-content: center;

}

.tweet-container header{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: blue;
  background-color: #f4f1ec;
  

}

.tweet-container footer{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: black;

}

.tweet-container article:hover{
  box-shadow: 5px 10px;
  
}

.hidden{
  visibility: hidden;

}

.tweet-container article:hover{
  box-shadow: 5px 10px;
  
}

.tweet-container div{

  align-self: center;

}

.tweet-container article{

  border-style: solid;
  border-width: 2px;
  border-color: blue

}