.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-style: bold;
  font-weight: 1600;

}

.tweet-container header{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: blue;
  background-color: #f4f1ec;
  

}

.tweet-container footer{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  padding-left: 2.5%;
  padding-right: 2.5%;

}

.tweet-container article:hover{
  box-shadow: 5px 10px;
  
}

.hidden{
  visibility: hidden;

}



.tweet-container article{

  border-style: solid;
  border-width: 2px;
  border-color: blue;
  

}

#tweet-content{

  display: flex;
  align-items:flex-start;
  justify-content:left;
  padding-left: 2.5%;

}

#avatar-username{

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2.5%;
  padding-right: 2.5%;

}